

.block {
  width: 200px;
}
.slider {
  position: relative;
  border: 1px solid orange;


  &__image {
    width: 100%;
    height: 456px;
  }


}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 65px;
}

.prevArrow {
  position: absolute;
  top: 50%;
  left: 65px;
  z-index: 1000;
}

@media (max-width: 740px) {
  .slider {
    position: relative;
    margin-bottom: 14px;

    &__image {
      width: 100%;
      height: 207px;
    }

    
  }
}
